{% extends "base.html" %}

{% block title %}О приложении{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Приложение для управления тренировками и питанием</h1>
    <p class="lead">Это приложение помогает пользователям отслеживать свои тренировки и приемы пищи, а также анализировать калории.</p>
</div>

<div class="row">
    <div class="col-md-4 feature">
        <h4>Отслеживание тренировок</h4>
        <p>Пользователи могут добавлять и редактировать информацию о своих тренировках, включая название, описание, количество калорий и длительность тренировки.</p>
    </div>
    <div class="col-md-4 feature">
        <h4>Отслеживание приемов пищи</h4>
        <p>Пользователи могут добавлять и редактировать информацию о своих приемах пищи, включая название, описание и количество калорий.</p>
    </div>
    <div class="col-md-4 feature">
        <h4>Анализ калорий</h4>
        <p>Приложение автоматически рассчитывает разницу между потраченными и полученными калориями за день, что помогает пользователям контролировать свой баланс калорий.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 feature">
        <h4>Столбчатые диаграммы</h4>
        <p>Приложение отображает столбчатые диаграммы, показывающие количество тренировок по дням и разницу между потраченными и полученными калориями за день.</p>
    </div>
    <div class="col-md-4 feature">
        <h4>Удобный интерфейс</h4>
        <p>Интерфейс приложения интуитивно понятен и удобен в использовании, что делает процесс отслеживания тренировок и питания максимально простым и приятным.</p>
    </div>
    <div class="col-md-4 feature">
        <h4>Персонализация</h4>
        <p>Все данные о тренировках и приемах пищи хранятся для каждого пользователя отдельно, что позволяет персонализировать опыт использования приложения.</p>
    </div>
</div>
{% endblock %}
